
<% if @current_user.present? %>

<h3 class="welcome">Welcome <%= @current_user.name %> ! </h3>


  <div class="home-controls">
    <ul>
      <li><%= link_to "LunchOn Inspiration", lunch_items_path %></li>
      <li><%= link_to "Add New LunchOn", new_lunch_item_path(@user) %></li>
      <li><%= link_to "My LunchOn's", mylunchons_path %></li>
      <li><%= link_to "LunchOn community", users_path %></li>
    </ul>
  </div>

<% else %>
  <h1 class="title"> lunch&#xe135;n </h1>
  <h3 class="tagline"> A good lunch, is one that is shared... </h3>
<% end %>
