<h3> My LunchOn's </h3>

<p>Name: <%= @lunchitem.name %></p>

<!-- Cloudinary -->
<%= cl_image_tag(@lunchitem.image, :class => "Valign") %>

<p>Price: <%= number_to_currency(@lunchitem.price) %></p>

<div class="controls">
  <%= link_to "Edit LunchOn", edit_lunch_item_path(@lunchitem)%> |
  <%= link_to("Remove lunchOn", "/lunch_item/#{@lunchitem.id}/delete", :method => :delete) %>
</div>
